.ProductPage{
  margin: 100px 20vh 40px 120px;
}
.sortingSelect{
  border-color: #999999;
  border-radius: 5px;
}
.mainContainer{
  width: 103%;
  border: solid 1px #D3D3D3;
  border-radius: 5px;
  display: flex;
  background-color: #FFFFFF;
}
.photos{
  margin-left: 20px;
}
img{
  height: 400px;
  width: 400px;
}
.productInfo{
  margin-left: 50px;
  margin-right: 40px;
}
.lastName{
  margin: 3vh 0 3vh 0;
  font-size: 20px;
}
.infoAbout{
  width: 90vh;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #999999;
}
.price{
  display: flex;
}
.delivery{
  margin-top: 3vh;
  display: flex;
}
.inStock{
  width: 33%;
  background-color: #D3D3D3;
  margin-left: 3vh;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 0 10px #999999;
}
.pickUpPoints{
  width: 33%;
  background-color: #D3D3D3;
  margin-left: 3vh;
  margin-right: 3vh;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 0 10px #999999;
}
.deliveryToHome{
  width: 33%;
  background-color: #D3D3D3;
  margin-right: 3vh;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 0 10px #999999;
}
.priceBar{
  border-radius: 5px;
  box-shadow: 0 0 10px #999999;
  background-color: #D3D3D3;
  display: flex;
  justify-content: space-between;
  margin-left: 3vh;
}
.anchor{
  text-decoration: none;
  color: #141414;
}
h3{
  width: 40vh;
}
.priceGraphic{
  background-color: #D3D3D3;
  width: 60px;
  height: 40px;
  border: none;
}
.favourites{
  background-color: #FFFFFF;
  border: none;
  margin-left: 5vh;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #999999;
}
.buyButton{
  margin-left: 1vh;
  margin-right: 5vh;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #999999;
  width: 120px;
  height: 60px;
}
.buyButton:hover{
  color: #FFFFFF;
  background-color: orange;
}
h5{
  margin-top: 3vh;
}
.characteristics{
  margin: 3vh 0 0 0;
  width: 103%;
  border: solid 1px #D3D3D3;
  border-radius: 5px;
  background-color: #FFFFFF;
}
h6{
  margin: 1vh 0 3vh 3vh;
}
.commonParameters{
  display: flex;
  flex-direction: column;
}
.commonParameters__item{
  margin: 0 5vh 0 3vh;
  display: flex;
  justify-content: space-between;
}
.mainParameters{
  display: flex;
  flex-direction: column;
}
.mainParameters__item{
  margin: 0 5vh 0 3vh;
  display: flex;
  justify-content: space-between;
}
.videomemorySpecifications{
  display: flex;
  flex-direction: column;
}
.videomemorySpecifications__item {
  margin: 0 5vh 0 3vh;
  display: flex;
  justify-content: space-between;
}
.mainTitle{
  width: 100%;
  margin-left: 0;
}
.description{
  margin: 3vh 0 3vh 0;
  width: 103%;
  border: solid 1px #D3D3D3;
  border-radius: 5px;
  display: flex;
  background-color: #FFFFFF;
}
#description{
  margin: 1vh 1vh 1vh 3vh;
}
.reviewsContainer{
  width: 103%;
  border: solid 1px #D3D3D3;
  border-radius: 5px;
  background-color: #FFFFFF;
}
h6{
  margin: 1vh 1vh 1vh 3vh;
}
b{
  margin-left: 3vh;
}
p{
  margin-left: 3vh;
}
svg{
  fill: orange;
  margin-left: 5px;
  margin-bottom: 2px;
}
.underline{
  width: 100%;
  height: 1px;
  background-color: #D3D3D3;
}
.hidden{
  visibility: hidden;
  height: 1px;
}
.visible{
  visibility: visible;
  height: 600px;
}
.favouritesImage{
  height: 40px;
  width: 40px;
}