.MainPage{
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 100%;
  a{
    text-decoration: none;
    color: #2F2F32;
  }
  a:hover{
    color: #141414;
  }
  img{
    height: 150px;
  }
  .content__main-container {
    width: 99%;
    display: flex;
    .main-container__products-list {
      margin-left: 5vh;
      margin-top: 5vh;
      display: grid;
      .sortingSelect{
        border-color: #999999;
        border-radius: 5px;
      }
      .products-list__underline{
        margin-top: 5vh;
        width: 90%;
        height: 2px;
        background-color: #999999;
      }
      .product__card{
        display: flex;
        margin-top: 3vh;
        width: 90%;
        height: 160px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px #999999;
        .product__card__buy{
          margin: 2vh 0 0 5vh;
          text-align: right;
        }
        .product__name{
          margin-left: 3vh;
          text-decoration: none;
          color: black;
          height: fit-content;
        }
        .product__name:hover{
          color: orange;
        }
        .product__card__price{
          font-size: 21px;
        }
        .buyButton{
          background-color: #FFFFFF;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0 5px #999999;
          width: 100px;
          height: 40px;
          margin-top: 3vh;
        }
        .buyButton:hover{
          color: #FFFFFF;
          background-color: orange;
        }
      }
    }
    .main-container__categories {
      margin-left: 12vh;
      width: 30vh;
      h3 {
        margin-left: 5vh;
      }
      li {
        list-style-type: none;
        margin-top: 5px;
      }
      .categories__onSale{
        display: flex;
      }
      .categories__onSaleText {
        font-size: 20px;
        margin-left: 5vh;
      }
    }
  }
}

.categories__listItem:hover{
  background-color: #D3D3D3;
}
.categories__switch {
  margin-left: 5vh;
  position: relative;
  display: inline-block;
  width: 49px;
  height: 24px;
}
.categories__switch input {
  display:none;
}
.slider {
  z-index: -1;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}